@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
}

header,
footer,
main {
  padding: 2rem;
  text-align: center;
}

.animals-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2rem;
}

.card {
  background-color: snow;
  box-shadow: 0 0 5px rgb(121, 121, 121);
  width: 200px;
  border-radius: 5px;
  display: inline-block;
  margin: 1rem;
  text-transform: capitalize;
  filter: grayscale(100%);
  transition: all 0.5s;
  position: relative;
}

.card:hover {
  box-shadow: 0 0 20px rgb(121, 121, 121);
  filter: grayscale(0%);
  cursor: pointer;
}

.card h2,
.card a {
  margin: 1rem;
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

nav ul li {
  display: inline-block;
  margin: 1rem 1rem 0;
}

button {
  padding: 0.5rem;
  background-color: rgb(152, 110, 4);
  border: 1px solid rgb(152, 110, 4);
  box-shadow: 0 0 5px #333;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  color: white;
}

input {
  padding: 1rem;
  border: 1px solid rgb(152, 110, 4);
  margin-bottom: 2rem;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.likes {
  text-align: center;
  font-size: 1.2rem;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  font-size: 0.8rem;
}
